<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"><title>Error</title>
    </head>
    <body>
        <center><p class="title is-1">404</p></center>
        <center><p class="subtitle is-3">Ooops! We haven't found that bot in our server</p></center>
        <center><button class="button is-primary is-rounded"><a href='/'>Go To Home</a></button></center>
    </body>
</html>