<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <form action="/search" method="POST">
            <u><center><label for="botname"><h1 class="title is-1">Welcome To Bot World</h6></label><br></center></u>
            <input class="input is-rounded" id="botname" name="name_field" type="text" placeholder="Search For A Bot"><br><br>
            <center><button class="button is-success is-hovered">Submit</button></center><br>
            <center><button class="button is-warning is-hovered"><a href='/listedbots'>Click here to see currently listed bots</a></button></center>
        </form>
    </body>
</html>