<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <u><center><label for="botname"><h3 class="title is-3">Bots that are currently listed on our database</h3></label><br></center></u>
        <div class="content">
            <ol type="1">
              <li>002</li>
              <li>Andromeda</li>
              <li>Groover</li>
              <li>ForGetFul</li>
              <li>Giveaway-Bot</li>
              <li>Harmony</li>
              <li>Leveling-Bot</li>
              <li>null</li>
              <li>OP-BOT</li>
              <li>Shiina</li>
              <li>Botasaurus</li>
              <li>ModBot</li>
              <li>NucturnoBoat</li>
            </ol>
          </div>
          <u><center><h5 class="title is-5">Last Updated - 2/28/2021</h5><br></center></u>
          <center><button class="button is-warning is-hovered"><a href='/'>Go To Home</a></button></center>
    </body>
</html>